
/* no breadcrumb */
.view-header-breadcrumb,
.view-header-breadcrumb-separator {
    display: none;
}

/* no link underline */
.theme-light, .theme-dark {
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
}

/* no external link icon */
.external-link {
  background-image: none;
  padding-right: 0px;
}

/* no margin above header */
.is-live-preview .HyperMD-header {
  --p-spacing: 0;
  line-height: 1.5;
}
